In [1]:
!conda create -n rapids-22.12 -c rapidsai -c conda-forge -c nvidia rapids=22.12 python=3.8 cudatoolkit=11.5

^C

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed

PackagesNotFoundError: The following packages are not available from current channels:

  - rapids=22.12

Current channels:

  - https://conda.anaconda.org/rapidsai/win-64
  - https://conda.anaconda.org/rapidsai/noarch
  - https://conda.anaconda.org/conda-forge/win-64
  - https://conda.anaconda.org/conda-forge/noarch
  - https://conda.anaconda.org/nvidia/win-64
  - https://conda.anaconda.org/nvidia/noarch
  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [1]:
import pandas as pd 
import numpy as np

In [3]:
samples = [
    [2,0.1, 10, 34],
    [2,0.01, 14, 43],
    [3,0.85, 2, 5],
    [3,0.85, 4, 5],
    [3,0.76, 4, 23]
]

df = pd.DataFrame(data=samples, columns=['id', 'ft1', 'ft2', 'ft3'])
df.head()

   id   ft1  ft2  ft3
0   2  0.10   10   34
1   2  0.01   14   43
2   3  0.85    2    5
3   3  0.85    4    5
4   3  0.76    4   23

In [9]:
df.loc[:, ['id', 'ft1', 'ft2']].groupby(['id']).diff().fillna(0)

    ft1  ft2
0  0.00  0.0
1 -0.09  4.0
2  0.00  0.0
3  0.00  2.0
4 -0.09  0.0